.players-list {

  border: 1px solid #000;
  border-radius: 2px;
  padding: 0 2px 2px 2px;

  .players-list-item {

    border: 1px solid #000;
    border-radius: 2px;
    margin-bottom: 1px;

    &:last {
      margin-bottom: 0;
    }
    &:hover {
      background-color: @hoverGrey;
    }
  }
}

.squad-list {
  border: 1px solid #000;
  border-radius: 2px;
  padding: 0 2px 2px 2px;
  min-height: 100px;

  &:hover: {
    background-color: @hoverGrey;
  }
}
