<h2>Profile</h2>
<h3>{{firstName}} {{lastName}}</h3>
<div class="row profile-container">
        <form name="profileForm" novalidate role="form" ng-submit="submitForm()">
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label for="first-name">First name: </label>
                    <input type="text" id="first-name" ng-model="firstName">
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label for="last-name">Last name: </label>
                    <input type="text" id="last-name" ng-model="lastName">
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label for="primary-position">Primary position: </label>
                    <select id="primary-position" ng-options="position.id as position.label for position in positions" ng-model="position">
                    </select>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <h4 class="secondary-position">Secondary positions: </h4>
                    <div class="row">
                        <div ng-repeat="position in secondaryPositions" class="col-xs-6 col-sm-3">
                            <div class="input-group secondary-position-checkbox">
                                <input type="checkbox" ng-model="position.selected">
                                <span class="secondary-position-label">{{position.shortLabel}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label for="phone-number">Phone Number: </label>
                    <input type="text" id="phone-number" ng-model="phoneNumber">
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <input type="submit" class="btn" value="Save">
                </div>
            </div>
        </form>
    </div>
</div>
